# data
*.zip
*.gz
*.duckdb
data/*.duckdb

# R / GDC extraction
gdc-client
gdc-client*
GDCdata/
extraction/renv/library/
*.rds

# dbt
transform/target/
transform/dbt_packages/
transform/logs/
transform/.venv/
transform/.user.yml

# R artifacts
extraction/gdc_manifest.txt
extraction/gdc_client_configuration.dtt
extraction/gdc-client
renv/library/
renv/staging/
